body{
  background-image: url("./BGalpha40.svg");
  background-size: 20%;
  animation: pan 180s linear infinite;
}

@keyframes pan{
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 100% 0%;
  }
}


h2{
    font-size: 2rem;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .5), 1px -1px 0 rgba(0, 0, 0, .5), -1px 1px 0 rgba(0, 0, 0, .5), 1px 1px 0 rgba(0, 0, 0, .5);
    color: #FFBF78;
    text-align:center;
    padding: 1.5rem;
}

.selectnav{
  background-color: #83B4FF;
  border-radius: 5px 5px 5px 5px;
}

.nav-link.active:hover{
  background-color: #83B4FF;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;

}

.nav2:hover{
  background-color: #a45ace;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;
}

.nav3:hover{
    background-color: #8bff83;
    transition: 0.5s;
    border-radius: 5px 5px 5px 5px;
}
  
.imgcard{
    position: relative;
    z-index: 3;
}

.card-body{
    position: relative;
    z-index: 2;
}

.yo{
    width: auto;
    height: 25rem;
    border-radius: 50%;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, .5);
}

#parent{
  margin-top: 3rem;
  position: relative;
}


#child{
  font-size: 1.2rem;
  background-color: rgba(192, 168, 144, .5);
  border: 1px solid black;
  position: absolute;
  width: auto;
}

#mySidenav a {
    position: absolute;
    right: -25px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 1;
  }
  
  #mySidenav a:hover {
    right: -100px;
    z-index: 1;
  }
  
  #about {
    top: 20px;
    background-color: #FFA62F;
  }
  
  #blog {
    top: 80px;
    background-color: #FF9F66;
  }
  
  #projects {
    top: 140px;
    background-color: #FF5F00;
  }
  
  #contact {
    top: 200px;
    background-color: #002379
  }

