body{
    background-color: bisque;
}

h2{
    font-size: 2rem;
    color: #35220f;
    text-align:center;
    padding: 1.5rem;
}

.yo{
    width: auto;
    height: 25rem;
    border-radius: 50%;
    margin-left: 8rem;
}